/Release/
/sloeber.ino.cpp

# Sloeber projects are defined by sloeber.cfg not the Eclipse files
.cproject
.project
.settings/
.sproject
spec.d


# Mac files we don't care about
.DS_Store

# VIM files we don't care about
*.swp

